footer{
    background-color: #3591CC;
    text-align: end;
    padding: 2%;
}
.logo{
    background-color: #3591CC;
    width: 80px;
}

header{
    width: 100%;
    background-color: #3591CC;
}
section{
    background-color: #3591CC;
    padding: 3%;
    float: left;
}
main{
    float:right;
}
 
body{
    color: #c6e3f5;
}
.pesquisa{
    width: 4px;
    height: 40px;
    margin-top: 0px;


}
#texto{
    width: 350px;
    height: 40px;
    float: center;
    font-family: 'Arial';
    font-size: 20px;
    border-radius: 100px;
    border: 0;
} 
.btnn{
    width: 30px;
    height: 30px;
    background-color:#3591CC;
    padding: 5px 10px;
    cursor: pointer;
}
#texto:focus{
    border: solid 2px #3591CC;
}
.flex-container {

    display: flex;
 
    align-items:baseline;
 
    flex-wrap: nowrap;
 
    justify-content:  flex-start;
 
    flex-direction: row;
 
    width: 100%;
 
  }
#lupi{
    width: 20px;

}
#div1c{
    display: inline;
    width: fit-content;
}
#div3c {

    justify-content:flex-end;
 
    display: flex;
 
    padding-left: 10%;
 
  }
#div3c{
    display: inline;
    width: fit-content;
}
.tabela{
  margin: auto;
  color: #c6e3f5;
}
#oferta, h1{
    text-align: center;
    background-color: #c6e3f5;
}