footer{
    background-color: #3591CC;
    text-align: end;
    padding: 2%;
}
#redesfooter{
    text-align: left;
    float: left;
}
header{
    width: fit-content;
    background-color: #3591CC;
}
#logo{
    padding: 50%;
}