footer{
    background-color: #3591CC;
    text-align: end;
    padding: 2%;
    width: 100%;
    color: #ffffff;
}
.copy{
    text-align: center;
}

.logo{
    background-color: #3591CC;
    width:5%;
}

section{
    background-color: #3591CC;
    padding: 3%;
    float: left;
}

main{
    float:right;
}
 
body{
    margin: 0%;
}

.pesquisa{
    width:50%;
    padding: 2%;
}

#texto{
    width: 100%;
    font-family: 'Arial';
    font-size: 100%;
    border-radius:100px;
    border: 0;
    padding: 2.5%;
} 

.btnn{
    width: 30px;
    height: 30px;
    background-color:#3591CC;
    padding: 5px 10px;
    cursor: pointer;
}

.flex-container {
    display: flex;
    align-items:baseline;
    flex-wrap: nowrap;
    justify-content:  flex-start;
    flex-direction: row;
    width: 100%;
  }
#div1c{
    display: inline;
    width: fit-content;
}
#div3c {
    justify-content:flex-end;
    display: flex;
    padding-left: 10%;
}

#div3c{
    display: inline;
    width: fit-content;
}

.tabela{
  margin: auto;
  color: #c6e3f5;
}

#oferta{
    text-align: center;
    background-color: #c6e3f5;
}

.cuponsusados{
    margin: auto;
}

.teacup{
    padding: 1%; 
}
#cupg{
    text-align: center;
    align-self: center;
}
.cuponsin{
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}
header{
    background-color: #3591CC;
    display: flex ;
    flex-direction:row;
    padding: 2%;
    justify-content: space-between;
    height:fit-content;
    max-height: 150px;
}
#uti{
    width: min-content;
    margin-top:2% ;
    max-width: 130px;
    min-width: 150px;
    margin-right: 0%;
}
#nave{
    width: 100%;
    height: 1%;
    background-color: #207eb8;
    text-align: center;
}
#log{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: min-content;
    margin-right: 5%;
    margin-top:2% ;
}

#loginho{
    padding-left: 30%;
    padding-top: 1%;
}
.insta , .face, .email1{
    filter: brightness(100);
}
.tdal{
    width: 25%;
    text-align: center;
    padding: 1%;
}
a{
    text-decoration: none;
}
.aldiv{
    width:90%;
    text-align: center;
    display: flex;
    flex-direction: row;

}
.tral{
    width: 100%;
    display: flex;
    text-align: center;
    padding:2% ;
}
#imglog{
    width:100% ;
}
#loginho{
    width: 50%;
}
#procurados{
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    
}
.filtrosa{
display: flex;
flex-direction: column;
width:30% ;
text-align: justify;
font-size: larger;
background-color: rgb(231, 231, 231);
}
.afil{
    text-decoration: none;
    padding: 5%;
    color: black;
}
.afil:hover{
    color: #3591CC;
    background-color: rgb(255, 255, 255);
}
.proddesal{
width: 98%;
text-align: center;
background-color: #3591CC;
padding: 1%;
}
