#oferta{
    text-align: center;
    background-color: #c6e3f5;
}
.cuponsusados{
    margin: auto;
}
.tabela{
    margin: auto;
    color: #c6e3f5;
}
#procurados{
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    
}
.duda{
    padding: 50px;
}
.pp{
    text-align: center;
    color: #ffffff;
}