#oferta{
    text-align: center;
    background-color: #c6e3f5;
}
.tabela{
    margin: auto;
    color: #c6e3f5;
  }
  .cuponsusados{
    margin: auto;
    padding: 10px;
}
.duda{
    padding: 10px;
}
.duda{
    padding: 10px;
}
.duda{
    padding: 10px;
}
.duda{
    padding: 10px;
}

