.container {
    width:1200px;
    height:500px;
    background-color: green;
    padding-top:20px;
    padding-left:15px;
    padding-right:15px;
}
.obj1 {
    float: left;
    background-color: aqua;
    padding: 20px;
    width: 150px;
    text-align: justify;
}
.obj2 {
    float: left;
    background-color: aquamarine;
    padding: 20px;
    width: 150px;
    text-align: justify;
    margin: 50px;
}
.obj3 {
    float: right;
    background-color: aquamarine;
    padding: 20px;
    width: 150px;
    text-align: justify;
}
footer{
    margin: 200px;
} *{
    margin: 0;
 }
 .header{
    width: 1350px;
    height: 180px;
 }
 .container {
    width: 1320px;
    height: 2500px;
    background-color: green;
    padding-top:20px;
    padding-left:15px;
    padding-right:15px;
}
#obj1 {
    float: left;
    background-color: aliceblue;
    padding: 20px;
    width: 150px;
    text-align: justify;
}
#obj2 {
    float: left;
    background-color: aliceblue;
    padding: 20px;
    width: 150px;
    text-align: justify;
    margin-left: 170px;
}
#obj3 {
float: left;
background-color: aliceblue;
padding: 20px;
width: 150px;
text-align: justify;
margin-left: 200px;
}
#obj4 {
    float: right;
    background-color: aliceblue;
    padding: 20px;
    width: 150px;
    text-align: justify; 
}
#obj5{
    float: none;
    background-color: aliceblue;
    padding: 20px;
    width: 150px;
    text-align: justify; 
    margin-top: 500px;
}
#obj6{
    float: right;
    background-color: aliceblue;
    padding: 20px;
    width: 150px;
    text-align: justify;
}
footer{
    margin-top: 1540px;
    
}
